.current_table{
    margin: auto;
    border-collapse: collapse;
}

.cell{
    height: 20px;
    width: 250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}